// ===COLORS===
$Primary-Strong-Cyan: hsl(171, 66%, 44%);
$Primary-Light-Blue: hsl(233, 100%, 69%);
$Neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Neutral-Grayish-Blue: hsl(201, 11%, 66%);
$btn-text-color: white;
$btn-ios-hover: hsla(171, 71%, 49%, 0.884);
$btn-mac-hover: hsla(233, 94%, 53%, 0.952);

// ===SIZES===
$header-height: 560px;


// ===FONTS===
$size-h1: 2.5rem;
$size-h2: 2rem;
$size-figcaption-h2: 1.3rem;
$size-figcaption-p: 0.9rem;
$size-supercharge-h3: 1.3rem;
$size-supercharge-p: 0.9rem;
$size-p: 1.1rem;
$size-h1-mobile: 1.8rem;
$size-h2-mobile: 1.5rem;
$size-p-mobile: .9rem;
