// ===COLORS===
$Primary-Strong-Cyan: hsl(171, 66%, 44%);
$Primary-Light-Blue: hsl(233, 100%, 69%);
$Neutral-Dark-Grayish-Blue: hsl(210, 10%, 33%);
$Neutral-Grayish-Blue: hsl(201, 11%, 66%);
$btn-text-color: white;
$btn-ios-hover: hsl(171, 74%, 53%);
$btn-mac-hover: hsl(233, 95%, 74%);

// ===SIZES===
$header-height: 560px;


// ===FONTS===
$size-h1: 2.5rem;
$size-h2: 2rem;
$size-figcaption-h2: 1.3rem;
$size-figcaption-p: 0.9rem;
$size-supercharge-h3: 1.3rem;
$size-supercharge-p: 0.9rem;
$size-p: 1.1rem;
